<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yb download</title>

    <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<style>
    body{
        background-position: center center;
        background-repeat:  no-repeat ;
        background-attachment: fixed;
        background-size: cover;
        background-color: aqua;
        overflow: hidden;
        background-image:  url('https://wallpapercave.com/wp/wp4052633.png');
    }
</style>
<body style="display: flex; justify-content: center;  ">

    <form method="get" action="/des" style="text-align: center; vertical-align: middle;"  >
        <br>
        <div class= "" >
            <div class="mb-3 border rounded text-black bg-opacity-75 p-3 mb-2 bg-info text-dark" style="padding: 100px;" >
                <label for="exampleInputEmail1" class="form-label">Video</label>
                <input type="text" class="form-control" name="URL"  autocomplete=off>
                <div id="emailHelp" class="form-text">Ingresa el nombre del video</div>
                
                <input type="submit" class="btn btn-info" value="Descargar" id="btnsubmit"  style="margin: 10px;">
            </div>
        </div>
    </form>
</body>
</html>